Django>=6.0,<6.1
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular
django-cors-headers
django-background-tasks
django-storages
boto3
psycopg[binary]
redis
gunicorn
reportlab
